.chooseCity {
    form {
        @include media-min(999px) {
            width: calc(100% - 400px);
            box-shadow: inset -12px 12px 10px -10px $grey-dark;
        }
        @include media-max(999px) {
            width: 100%;
            box-shadow: inset 0px 12px 10px -10px $grey-dark;
        }
        height: 50px;
        background: #eaeaea;
        text-align: center;
        div {
            position:relative;
            display: inline-block;
            i {
                position:absolute;
                top:15px;
                left:0;
                font-size:18px;
            }
            input {
                padding-left:20px;
                margin-top: 15px;
                width:165px;
                background: transparent;
                border: none;
                text-align: center;
            }
        }
    }
    .presentation {
        @include media-min(999px) {
            width: calc(100% - 400px);
            box-shadow: inset -12px 0px 10px -10px $grey-dark;
            background: white;
        }
        @include media-max(999px) {
            background: $grey;
        }
        margin-top: 0;
        overflow: hidden;
        padding: 20px 10% 40px 10%;
        text-align: center;
        @import "./../composants/buttonDegraded";
    }
}

.useInstruction {
    @include media-min(999px) {
        width: 400px;
        height:100%;
        position:fixed;
        right:0;
        top:20px;
        padding:0 30px;
        background:white;
    }
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    h1 {
        margin-top:20px;
        margin-left: 20px;
        margin-bottom: 0;
    }
    .stage {
        .number {
            color: white;
            background: $primaire;
            border-radius: 100%;
            width: 25px;
            height: 25px;
            padding: 5px 8px;
            font-size: 15px;
            float: left;
            margin-top: 40px;
            margin-left: 5%;
        }
        .information {
            width: calc(90% - 12.5px);
            margin-left: calc(5% + 12.5px);
            background: $grey;
            box-shadow: 0px 5px 10px 4px #e9e9e9;
            border-radius: 20px;
            height: 70px;
            i {
                margin: 25px;
                float: left;
                font-size: 18px;
                color: #7e7e7e;
            }
            h3 {
                font-weight: 400;
                font-size: 17px;
                padding-top: 25px;
            }
        }
        .selected {
            background: #f5edff !important;
            i {
                color: $primaire !important;
            }
        }
    }
    .hide {
        @include media-max(999px) {
            display:none;
        }
    }
    .new {
        @include media-max(999px) {
            display:none;
        }
        @include media-min(999px) {
            overflow:auto;
            padding:0 5% 0 5%;
            margin-top:20px;
            margin-bottom:20px;
        }
        .restaurant {
            @include media-min(999px) {
                float:left;
                width:100%;
                margin-bottom:20px;
            }
            position: relative;
            border-radius: 5px;
            height: 250px;
            background: white;
            box-shadow: 0px 5px 10px 4px #e6e6e6;
            overflow: hidden;
            img {
                object-fit: cover;
                height: calc(100% - 80px);
                width: 100%;
                cursor: pointer;
            }
            h2 {
                font-size: 19px;
                margin: 10px 0 0 15px;
                color: black;
                cursor: pointer;
            }
            p {
                margin: 5px 0 0 15px;
                color: black;
                cursor: pointer;
            }
            @import "./../composants/buttonLike";
            .new {
                position: absolute;
                top: 15px;
                right: 15px;
                padding: 5px 10px;
                font-size: 14px;
                border-radius: 2px;
                background: $tertiaire;
                color: $darkgreen;
            }
        }
    }
}

#restaurants {
    @include media-min(999px) {
        width: calc(100% - 400px);
        box-shadow: inset -12px 0px 10px -10px $grey-dark;
        padding:40px 0 60px 0;
    }
    @include media-max(999px) {
        padding:40px 5% 60px 5%;
    }
    background: $grey;
    h1 {
        margin-bottom: 20px;
        @include media-min(999px) {
            padding:0 5% 0 5%;
        }
    }
    .restaurants {
        @include media-max(999px) {
            flex-direction: column;
            display: flex;
            gap: 20px;
        }
        @include media-min(999px) {
            overflow:auto;
            padding:0 5% 0 5%;
        }
        .restaurant {
            @include media-min(999px) {
                float:left;
                width:calc(50% - 10px);
                margin-bottom:20px;
            }
            @include media-max(999px) {
                width:100%;
            }
            position: relative;
            border-radius: 5px;
            height: 250px;
            background: white;
            box-shadow: 0px 5px 10px 4px #e6e6e6;
            overflow: hidden;
            img {
                object-fit: cover;
                height: calc(100% - 80px);
                width: 100%;
                cursor: pointer;
            }
            h2 {
                font-size: 19px;
                margin: 10px 0 0 15px;
                color: black;
                cursor: pointer;
            }
            p {
                margin: 5px 0 0 15px;
                color: black;
                cursor: pointer;
            }
            @import "./../composants/buttonLike";
            .new {
                position: absolute;
                top: 15px;
                right: 15px;
                padding: 5px 10px;
                font-size: 14px;
                border-radius: 2px;
                background: $tertiaire;
                color: $darkgreen;
            }
        }
        a:nth-child(2n) {
            .restaurant {
                @include media-min(999px) {
                    margin-left:20px;
                }
            }
        }
    }
}